
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/src/Migrations/*
/public/images/*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
composer.lock
.env
.env.test
###< symfony/web-server-bundle ###
.DS_Store
symfony.lock
symfony.lock
symfony.lock
