

@font-face {
    font-family: "Arial";
    src: url("../fonts/Arial.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Arial.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Arial.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Arial.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Arial.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Arial.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Arial.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: 'Arial',sans-serif;
    color: #fff;
	font: inherit;
    vertical-align: baseline;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 14px;
    position:relative;
    z-index: 30;
}

header h2#brand{
    background: url(../img/brand.png);
    background-size: 100%;
    display: block;
    height: 41px;
    width: 98px;
    text-indent: -99999px;
}

header .btn-header{
    display: flex;
    justify-content: flex-end;
    width: 60px;   
}

header .btn-header .languages{
    display: none;
}

header .btn-header .languages span,
header .btn-header .languages a{
    font-family: "Arial";
    font-size: 14px;
    color: #ffffff;
    padding: 0px 3px;
    text-decoration: none;
    line-height: 16px;
    border-bottom: 1px solid #fff;
}

header .btn-header .languages a.active{
    text-decoration: underline;
}

header .btn-header #btn-menu{
    background: url(../img/btn-menu-open.png);
    background-size: 100%;
    display: block;
    height: 16px;
    width: 16px;
}

header .btn-header #btn-menu.close{
    background: url(../img/btn-menu-close.png);
    background-size: 100%;
    display: block;
    height: 16px;
    width: 16px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;   
}

.row-pt{
    padding-top:120px;
}

.col{
    padding: 0px 14px 0px 14px;
}

.col h3,
.col p,
.col a,
.container-data h3,
.projects .project-desc p ,
#about .studio-data.mb > div > div h3,
#about .studio-data.mb > div > div p,
#about .studio-data.mb > div > div a,
#about .studio-data .container-studio .column > div > h3,
#about .studio-data .container-studio .column > div > p,
#about .studio-data .container-studio .column > div > a
{
    color: #ffffff;
    font-family: "Arial";
    font-size: 16px;
    line-height: 19px;
}

.content {
    padding-top: 20px;
}

.row.content .col{
    padding:0;
}

.desk-show{
    display: none!important;
}

.d-flex{
    display: flex;
}

/* About */
#about{
    display: none;
    position: absolute;
    top: 0;
    transition: ease-in 0.5s;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 20;
}

#about.show{
    display: block;
}

#about .container{
    margin-top: 90px;
}

#about .show-f{
    display: flex;
}

#about > div {
    display: none;
}

#about a{
    color: #fff;
    outline: none;
    text-decoration: none;
    display: block;
}

#about .about-studio,
#about .about-bianchi {
    margin-bottom: 36px;
}

#about .about-studio p,
#about .about-bianchi p{
    margin-bottom: 20px;
    line-height: 18px;
}

#about .about-studio p:last-child,
#about .about-bianchi p:last-child{
    margin-bottom: 0px;
}

#about .contact .request-pdf{
    margin-top: 30px;
}

#about .contact .request-pdf > p{
    margin-top: 18px;
}

#about .studio-data {
    display: none;
}

#about .studio-data .locations .office{
    padding-top: 55px;
}

#about .studio-data .locations .office{
    display: inline-block;
    margin-bottom: 40px;
}

#about .studio-data .locations .office.first-office{
    margin-right: 60px;
}

#about .studio-data .locations .office h3{
    margin-bottom: 25px;
}

#about .studio-data .contact {
    display: flex;
}

#about .studio-data .contact .portfolio {
   display: inline-block;
   margin-right: 29px;
}

#about .studio-data.mb .contact .portfolio a,
#about .studio-data .column .portfolio a {
    display: inline-block;
    border-bottom: 1px solid #fff;
}

#about .studio-data .contact .redes{
    display: inline-block;
}

#about .studio-data.mb{
    display: block;
    margin-bottom: 100px;
}

#about .studio-data .locations{
    display: flex;
}

#about .studio-data .locations .office{
    padding-top: 0px;
}

#about .studio-data.mb .locations .office.first-office{
    margin-right: 10px;
}

#about .about-studio .content br,
#about .about-bianchi .content br {
    display: none;
}

/* Gallery */
.owl-carousel {
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #000;
    z-index: 10;
}

.owl-carousel img.owl-lazy{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.owl-carousel img.owl-lazy.img-desk{
    display: none;
}

.owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: -26px;
    padding: 0px 0px;
    top: 50%;
    left: 0;
    width: 100%;
}

.owl-nav button{
    outline: none;
}

.owl-nav button.disabled{
    opacity: 0.4;
}

.owl-nav button .btn-left{
    background: url(../img/arrow-left-2.png);
    background-size: 100%;   
    height: 36px;
    opacity: 0;
    transition: ease-in 0.5s;
    width: 34px;
}

.owl-nav button .btn-right{
    background: url(../img/arrow-right-2.png);
    background-size: 100%;
    height: 36px;
    opacity: 0;
    width: 34px;
    transition: ease-in 0.5s;
}

.owl-nav button .btn-left.show-btn{
    opacity: 1;
}

.owl-nav button .btn-right.show-btn{
    opacity: 1;
}

.projects{
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 10;
}

.projects .project-desc {
    display: none;
}

.projects .project-desc.active {
    display: block;
}

.container-data{
    padding: 0px 14px 30px 14px;
}


@media (min-width: 768px) {
    .col{
        flex: 1;
    }
    /* GALLERY */
    .owl-carousel img.owl-lazy.img-desk{
        display: block;
    }
    .owl-carousel img.owl-lazy.img-mb{
        display: none;
    }
    
    .content {
        padding-top: 25px;
    }

    header h2#brand{
        height: 34px;
        width: 80px;
    }

    #about .about-studio > .content{
        margin-bottom: 50px;
    }
   
    #about .studio-data {
        display: block;
    }

    /* Tablet-Desktop */
    #about .studio-data .container-studio {
        display: flex;
    }
    
    #about .studio-data .container-studio .column-first{
        margin-right: 20px;
    }

    #about .studio-data .container-studio .column > div:first-child{
        margin-bottom: 34px;
    }

    #about .studio-data .container-studio .column > div > h3{
        font-family: "Arial";
        font-size: 16px;
        margin-bottom: 24px;
    }

    #about .studio-data .container-studio .column > div > p,
    #about .studio-data .container-studio .column > div > a{
        font-family: "Arial";
        font-size: 16px;
    }
    
    #about .studio-data.mb{
        display: none;
    }
}

@media (min-width: 992px) {
    .col h3,
    .col p,
    .col a,
    .container-data h3,
    .projects .project-desc p ,
    #about .studio-data.mb > div > div h3,
    #about .studio-data.mb > div > div p,
    #about .studio-data.mb > div > div a,
    #about .studio-data .container-studio .column > div > h3,
    #about .studio-data .container-studio .column > div > p,
    #about .studio-data .container-studio .column > div > a
    {
        color: #ffffff;
        font-family: "Arial";
        font-size: 17px;
        line-height: 21px;
    }
    .mr{
        margin-right: 180px;
    }
    .col{
        padding: 0px 25px;
    }
    .mb-show{
        display: none!important;
    }
    .desk-show{
        display: block!important;
    }
    /* HEADER */
    header{
        padding: 20px;
    }
    
    header .btn-header #btn-menu{
        height: 19px;
        width: 20px;
    }
    
    header .btn-header .languages span,
    header .btn-header .languages a{
        font-size: 16px;
        line-height: 19px;
    }
    
    /* ABOUT */
    #about{
        height: 100vh;
    }

    #about .container{
        margin-top: 140px;
    }

    #about .contact{
        flex-direction: row;
    }

    #about .contact .request-pdf{
        flex-basis: 40%;
    }

    #about .contact .data{
        flex-basis: initial;
    }

    #about .contact .request-pdf,
    #about .contact .request-pdf > p{
        margin-top: 0px;
    }

    #about .about-studio .content br,
    #about .about-bianchi .content br {
        display: block;
    }
    
    /* GALLERY */
    .owl-nav{
        padding: 0px 30px;
    }
    .container-data{
        padding: 0px 40px 30px 40px;
    }
    #about .studio-data.mb .locations .office.first-office{
        margin-right: 96px;
    }

    #about .studio-data .container-studio .column-first{
        margin-right: 55px;
        min-width: 240px;
    }
}
@media (min-width: 1346px) {
    /* HEADER */
    header{
        padding: 40px;
    }

    header h2#brand{
        height: 41px;
        width: 98px;
    }

    .col{
        padding: 0px 40px;
    }
}